{% extends 'base.html.twig' %}

{% block title %}Edit Mobiles{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Móvil</h3>
                        <div class="d-flex justify-content-between">
                            <h4 class="card-subtitle mb-2 text-muted">Actualizar móvil</h4>

                        </div>

                        <div class="card-text">
                            {{ form_start(edit_form, {'action': path('mobiles_edit',{'id':mobile.id}), 'method': 'POST'}) }}
                            <div class="border border-white row">
                                <label for="name"
                                       class="col-4 col-form-label">{{ form_label(edit_form.name) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.name) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="description"
                                       class="col-4 col-form-label">{{ form_label(edit_form.description) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.description) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="urlPicture"
                                       class="col-4 col-form-label">{{ form_label(edit_form.urlPicture) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.urlPicture) }}
                                </div>
                            </div>
                            <div class="border border-white row">
                                <label for="price"
                                       class="col-4 col-form-label">{{ form_label(edit_form.price) }}</label>
                                <div class="col-8">
                                    {{ form_widget(edit_form.price) }}
                                </div>
                            </div>

                            <div class="d-flex ">
                                <div class="p-2">
                                    {{ form_widget(edit_form.save) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}